@keyframes boxFade {
	0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.chatsInner.chatListInner {
	position: fixed;
  left: 0;
  right: 0;
	bottom: 25px;
	width: 370px;
	max-width: 90%;
	height: 90%;
	max-height: 680px;
	border-radius: 30px;
	background-color: #eeeeee;
	padding: 0 14px;
	margin: 0 auto;
	box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;
	animation: boxFade 0.20s ease-out 0s 1 normal none running;
	z-index: 99;
	-ms-overflow-style: none; /* IE and Edge - scrollbar 숨기기*/
	scrollbar-width: none; /* Firefox scrollbar 숨기기*/	
	padding-bottom: 40px;
	overflow-Y: auto;
  z-index: 200;
}

.chatsInner.chatRoomInner {
	position: fixed;
  bottom: 25px;
  width: 370px;
  max-width: 90%;
  height: 90%;
  max-height: 680px;
  border-radius: 30px;
  background-color: #eeeeee;
  padding-top: 80px;
  padding-bottom: 60px;
  padding: 0 14px;
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;
  animation: boxFade 0.20s ease-out 0s 1 normal none running;
  z-index: 99;
}

.chatsInner.chatRoomInner .chatRoom {
  padding-top: 80px;
  padding-bottom: 60px;
}
.chatRoomDetil {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 25px;
  width: 370px;
  max-width: 90%;
  height: 90%;
  max-height: 680px;
  border-radius: 30px;
  background-color: #eeeeee;
  padding-top: 80px;
  overflow-y: auto;
  z-index: 99;
}