@font-face {
  font-family: "iconFont";
  src: url("./iconFont.eot?9nx92y");
  src: url("./iconFont.eot?9nx92y#iefix") format("embedded-opentype"),
    url("./iconFont.ttf?9nx92y") format("truetype"),
    url("./iconFont.woff?9nx92y") format("woff"),
    url("./iconFont.svg?9nx92y#iconFont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconFont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-camera:before {
  content: "\e922";
  color: #787878;
}
.ic-phone:before {
  content: "\e900";
  color: #787878;
}
.ic-book:before {
  content: "\e901";
}
.ic-contact:before {
  content: "\e902";
}
.ic-user:before {
  content: "\e903";
}
.ic-map:before {
  content: "\e904";
}
.ic-arw-right:before {
  content: "\e905";
}
.ic-schedule:before {
  content: "\e906";
}
.ic-arw-left:before {
  content: "\e907";
}
.ic-boarding:before {
  content: "\e908";
}
.ic-plus:before {
  content: "\e909";
}
.ic-close:before {
  content: "\e90a";
}
.ic-star:before {
  content: "\e90b";
}
.ic-search:before {
  content: "\e90c";
}
.ic-calendar:before {
  content: "\e90d";
}
.ic-yard:before {
  content: "\e90e";
}
.ic-stroll:before {
  content: "\e90f";
}
.ic-longterm:before {
  content: "\e911";
}
.ic-first-aid:before {
  content: "\e912";
}
.ic-wash:before {
  content: "\e913";
}
.ic-check:before {
  content: "\e914";
}
.ic-canceled:before {
  content: "\e915";
  color: #217AFF;
}
.ic-home:before {
  content: "\e916";
}
.ic-upcoming:before {
  content: "\e917";
  color: #FC9215;
}
.ic-pickup:before {
  content: "\e918";
}
.ic-profile:before {
  content: "\e919";
}
.ic-puppy:before {
  content: "\e91a";
}
.ic-send:before {
  content: "\e91b";
}
.ic-chat:before {
  content: "\e91c";
}
.ic-prac:before {
  content: "\e91d";
}
.ic-activity:before {
  content: "\e91e";
}
.ic-location:before {
  content: "\e91f";
}
.ic-daycare:before {
  content: "\e920";
}
.ic-Union:before {
  content: "\e921";
}
