@font-face {
  font-family: 'iconFont';
  src: url('./iconFont.eot?iivj37');
  src: url('./iconFont.eot?iivj37#iefix') format('embedded-opentype'),
    url('./iconFont.ttf?iivj37') format('truetype'),
    url('./iconFont.woff?iivj37') format('woff'),
    url('./iconFont.svg?iivj37#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ic-list:before {
  content: "\e920";
}
.ic-first-aid:before {
  content: "\e911";
}
.ic-schedule:before {
  content: "\e905";
}
.ic-daycare:before {
  content: "\e91f";
}
.ic-activity:before {
  content: "\e91d";
}
.ic-location:before {
  content: "\e91e";
}
.ic-chat:before {
  content: "\e91b";
}
.ic-upcoming:before {
  content: "\e916";
  color: #fc9215;
}
.ic-canceled:before {
  content: "\e914";
  color: #217aff;
}
.ic-yard:before {
  content: "\e90d";
}
.ic-stroll:before {
  content: "\e90e";
}
.ic-longterm:before {
  content: "\e910";
}
.ic-wash:before {
  content: "\e912";
}
.ic-check:before {
  content: "\e913";
}
.ic-home:before {
  content: "\e915";
}
.ic-pickup:before {
  content: "\e917";
}
.ic-profile:before {
  content: "\e918";
}
.ic-puppy:before {
  content: "\e919";
}
.ic-send:before {
  content: "\e91a";
}
.ic-prac:before {
  content: "\e91c";
}
.ic-calendar:before {
  content: "\e90c";
}
.ic-search:before {
  content: "\e90b";
}
.ic-book:before {
  content: '\e900';
  color: #787878;
}
.ic-contact:before {
  content: '\e901';
  color: #787878;
}
.ic-user:before {
  content: '\e902';
  color: #787878;
}
.ic-map:before {
  content: "\e903";
}
.ic-arw-right:before {
  content: "\e904";
}
.ic-arw-left:before {
  content: "\e906";
}
.ic-boarding:before {
  content: "\e907";
}
.ic-plus:before {
  content: "\e908";
}
.ic-close:before {
  content: "\e909";
}
.ic-star:before {
  content: '\e90a';
  color: #ffc700;
}
.ic-camera:before {
  content: '\e90f';
  color: #787878;
}
